<mat-card class="article-card">
  <div class="article-image-wrapper">
    <img mat-card-image [src]="article.image" [alt]="article.title" class="article-image" />
  </div>

  <mat-card-content class="article-content">
    @if (article.tags.length) {
      <div class="article-tags">
        <mat-chip-set>
          @for (tag of article.tags; track tag) {
            <mat-chip>
              {{ tag }}
            </mat-chip>
          }
        </mat-chip-set>
      </div>
    }

    <h2 class="article-title">
      {{ article.title }}
    </h2>

    <p class="article-description">
      {{ article.shortDescription }}
    </p>
  </mat-card-content>

  <mat-card-actions class="article-card-actions">
    <div class="author">
      <mat-icon>person_outline</mat-icon>
      <span>{{ article.author }}</span>
    </div>

    <div class="publish-date">
      <mat-icon>calendar_today</mat-icon>
      <span>{{ article.createdAt | date: 'MMM d, yyyy' }}</span>
    </div>
  </mat-card-actions>
</mat-card>
