<mat-card class="article-card">
  <div class="article-image-wrapper">
    <img mat-card-image [src]="article.image" [alt]="article.title" class="article-image" />
  </div>

  <mat-card-content class="article-content">
    @if (article.tags.length) {
      <div class="article-tags">
        <mat-chip-set>
          @for (tag of article.tags; track tag) {
            <mat-chip class="article-content__tag">
              {{ tag }}
            </mat-chip>
          }
        </mat-chip-set>
      </div>
    }

    <h2 class="article-title">
      {{ article.title }}
    </h2>

    <p class="article-description">
      {{ article.shortDescription }}
    </p>
  </mat-card-content>

  <mat-card-actions class="card-actions">
    <div class="card-actions__article-details">
      <div class="author">
        <mat-icon>person_outline</mat-icon>
        <span>{{ article.author }}</span>
      </div>

      <div class="publish-date">
        <mat-icon>calendar_today</mat-icon>
        <span>{{ article.createdAt | date: 'MMM d, yyyy' }}</span>
      </div>
    </div>
    @if (showActions) {
      <div class="card-actions-button">
        <button
          mat-icon-button
          type="button"
          color="primary"
          aria-label="Edit article"
          (click)="update.emit(article)"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          mat-icon-button
          color="warn"
          type="button"
          aria-label="Delete article"
          (click)="onDeleteClick($event, article)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }
  </mat-card-actions>
</mat-card>
