@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/poppins-light-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/poppins-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/poppins-bold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Material-Icons;
  src: url('/assets/fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
  font-family: Material-Icons, Arial, Helvetica, sans-serif;
  display: inline-block;
  font-feature-settings: 'liga';
}
