.success-snackbar {
  --mdc-snackbar-container-color: #198754;
  --mdc-snackbar-supporting-text-color: #fff;

  .mat-mdc-button {
    color: #000 !important;
  }
}

.error-snackbar {
  --mdc-snackbar-container-color: #dc3545;
  --mdc-snackbar-supporting-text-color: #fff;

  .mat-mdc-button {
    color: #000 !important;
  }
}
