@use 'variables' as *;

.success-snackbar {
  z-index: 102;

  --mdc-snackbar-container-color: #{$color-snackbar-success};
  --mdc-snackbar-supporting-text-color: #{$color-text-white};

  .mat-mdc-button {
    color: #000 !important;
  }
}

.error-snackbar {
  z-index: 102;

  --mdc-snackbar-container-color: #{$color-snackbar-error};
  --mdc-snackbar-supporting-text-color: #{$color-text-white};

  .mat-mdc-button {
    color: #000 !important;
  }
}
