$color-text-off-white: #fdfbf7;
$color-text-white: #fff;
$color-text-gray: #6c757d;
$color-snackbar-error: #dc3545;
$color-snackbar-success: #198754;
$color-border-white: #f2f2f2;
$color-text-black: #242424;
