<app-user-profile></app-user-profile>
<div class="article-container">
  <form class="article-form" [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <h1 class="article-form__title">Create Article</h1>
    <p class="article-form__subtitle">Fill in your details below.</p>

    <div class="article-form__group">
      <mat-form-field appearance="outline" class="article-form__group-box">
        <mat-label>Title</mat-label>
        <input
          matInput
          type="text"
          id="title"
          formControlName="title"
          placeholder="Enter title for your article"
        />
        @if (articleForm.controls.title.hasError('required')) {
          <mat-error>Title is required</mat-error>
        } @else if (articleForm.controls.title.hasError('minlength')) {
          <mat-error>Title must be at least 5 characters</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="article-form__group">
      <mat-form-field appearance="outline" class="article-form__group-box">
        <mat-label>Short Description</mat-label>
        <textarea
          matInput
          formControlName="shortDescription"
          placeholder="Enter short description for your article"
          cdkTextareaAutosize
        >
        </textarea>
        @if (articleForm.controls.shortDescription.hasError('required')) {
          <mat-error>Short Description is required</mat-error>
        } @else if (articleForm.controls.shortDescription.hasError('minLength')) {
          <mat-error>Short Description must be at least 10 characters</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="article-form__group">
      <mat-form-field appearance="outline" class="article-form__group-box">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="description"
          placeholder="Enter the description for your article"
          cdkTextareaAutosize
        >
        </textarea>

        @if (articleForm.controls.description.hasError('required')) {
          <mat-error>Description is required</mat-error>
        } @else if (articleForm.controls.description.hasError('minLength')) {
          <mat-error>Description must be at least 50 characters</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="article-form__group">
      <mat-form-field appearance="outline" class="article-form__group-box">
        <mat-label>Feature Image</mat-label>
        <input
          matInput
          formControlName="image"
          placeholder="Insert a feature image for your article"
        />
        @if (articleForm.controls.image.hasError('required')) {
          <mat-error>Image is required</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="article-form__group">
      <mat-form-field appearance="outline" class="article-form__group-box">
        <mat-label>Tags</mat-label>
        <mat-chip-grid #chipGrid>
          @for (tag of tags.value; track $index) {
            <mat-chip-row (removed)="removeTag($index)">
              {{ tag }}
              <button matChipRemove><mat-icon>cancel</mat-icon></button>
            </mat-chip-row>
          }
          <input
            placeholder="Enter tag name and press enter"
            [matChipInputFor]="chipGrid"
            (matChipInputTokenEnd)="addTag($event)"
          />
        </mat-chip-grid>
      </mat-form-field>
    </div>

    <button
      class="article-form__button"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="articleForm.invalid"
    >
      Create Article
    </button>
  </form>
</div>
