<app-user-profile></app-user-profile>

<div>
  @if (isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
</div>

<div class="article-grid">
  @for (article of articles; track article) {
    <div class="card-container">
      <app-article-card [article]="article" [routerLink]="['/dashboard/article', article.id]">
      </app-article-card>
      <div class="card-actions">
        <button mat-button color="primary"><mat-icon>edit</mat-icon> Update</button>
        <button
          mat-button
          color="warn"
          class="card-actions__delete"
          (click)="deleteCurrentArticle(article.id)"
        >
          <mat-icon>delete</mat-icon> Delete
        </button>
      </div>
    </div>
  }
</div>
