@use 'functions' as *;
@use 'variables' as *;
@use 'typography' as *;

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  width: 100%;
  background-color: $color-not-found-white;
  color: $color-light-black;
  padding: rem(20);
  box-sizing: border-box;

  &__container {
    text-align: center;
    max-width: rem(500);
  }

  &__title {
    @extend .not-found-title;

    font-size: rem(80);
    font-weight: 900;
    margin: 0;
    color: $color-not-found-title;
  }

  &__subtitle {
    @extend .not-found-subtitle;

    font-size: rem(24);
    font-weight: 700;
    margin: 10px 0 20px;
    color: $color-not-found-subtitle;
  }

  &__description {
    @extend .not-found-description;

    font-size: rem(17);
    line-height: 1.6;
    color: #6c757d;
    margin-bottom: rem(30);
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: rem(15);
  }
}

@media (width <= rem(650)) {
  .error-page__title {
    font-size: rem(80);
  }

  .error-page__subtitle {
    font-size: rem(20);
  }
}

@media (width >= 480px) {
  .error-page__title {
    font-size: rem(128);
  }

  .error-page__subtitle {
    font-size: rem(32);
  }
}
