@use 'functions' as *;
@use 'variables' as *;
@use 'typography' as *;

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  width: 100%;
  background-color: $color-not-found-white;
  color: $color-light-black;
  padding: rem(20);
  box-sizing: border-box;

  &__container {
    text-align: center;
    max-width: rem(500);
  }

  &__title {
    @extend .not-found-title;

    margin: 0;
    color: $color-not-found-title;
  }

  &__subtitle {
    @extend .not-found-subtitle;

    margin: 10px 0 20px;
    color: $color-not-found-subtitle;
  }

  &__description {
    @extend .not-found-description;

    color: $color-text-gray;
    margin-bottom: rem(30);
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: rem(15);
  }
}

@media (width <= rem(650)) {
  .error-page__title {
    font-size: rem(80);
  }

  .error-page__subtitle {
    font-size: rem(20);
  }
}
